
body{
    text-align: center;
    background:url(https://blog.stockcrowd.com/hubfs/Header%20blog%20preguntas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#nombre{
    position: relative;top: 40px;
    outline: none;
    margin: auto;
    border: 1px solid rgb(5, 221, 236);
    border-radius: 8px;
}
  
.container a{
    text-decoration: none;
    display:block;
  
}
.container .conceptos{
    display:block;
    
    background-color:darkred;
    height: 75px;
    width: 550px;
    text-decoration: none;
  border-radius: 5px;
  font-family: monospace;
  font-size: 27px;
  text-align: center;
  margin: auto;
  color: white;
  
  margin-bottom: 30px;
}
.container .cultura{ display:block;
    ;
    background-color: darkblue ;
    height: 75px;
    width: 550px;
    text-decoration: none;
  border-radius: 5px;
  font-family:monospace;
  font-size: 27px;
  text-align: center;

  margin: auto;
  margin-bottom: 30px;
  color: white;
}
.container .deportes{
    background-color:darkgreen ;
    height: 75px;
    width: 550px;
    text-decoration: none;
  border-radius: 5px;
  font-family:monospace;
  font-size: 27px;
  text-align: center;
 padding: 12px;
  margin: auto;
  margin-bottom: 30px;
  color: white;
}
.container .capitales{
    background-color:darkorange ;
    height: 75px;
    width: 550px;
    text-decoration: none;
  border-radius: 5px;
  font-family:monospace;
  font-size: 27px;
  text-align: center;
 padding: 3px;
  margin: auto;
  margin-bottom: 30px;
  color: white;
}
.cultura:hover{
    transform:translateY(2px);
    background-color: blue;
}
.conceptos:hover{
    transform:translateY(2px);
    background-color: red;
}
.deportes:hover{
transform:translateY(2px);
background-color: rgb(12, 182, 12);}
.capitales:hover{
    transform:translateY(2px);
    background-color:orange;
}

#categorias{
    background-color: wheat;
    border: 2px solid orange;
    border-radius: 25px;
}
#categorias h1{
    font-family: fantasy;
    font-weight: bold;
    color: black;
}
.btn-primary{
    width: 150px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(3, 250, 217) !important;
    font-weight: bold;
    border: 1px solid rgb(0, 151, 126) !important;
    color: rgb(32, 32, 32);
}
.btn-primary:hover{
    background-color: rgb(8, 250, 245) !important;
    border: 1px solid rgb(0, 151, 126) !important;
    color: rgb(32, 32, 32);
}
#instrucciones {
    position: absolute;
    top: 25%;
    left: 33%;
    background-color: wheat;
    border: 2px solid orange;
    border-radius: 25px;
}